.color-primary{
    background-color:cyan;
}
.color-secondary{
    background-color:cornflowerblue;
}
.waves-effect.waves-primary {
    background-color:cyan;
}
.waves-effect.waves-secondary {
    background-color:cornflowerblue;
}
.progress .indeterminate{
    background-color:purple;
}

.salvar{
    background-color: green;
}
.sair, .excluit{
    background-color: red;
}

.amarelo{
    background-color:gold;
}
.vermelho{
    background-color:red;
}
.verde{
    background-color:green;
}
.cinza{
    background-color:cadetblue;
}