.color-primary{
    background-color:darkgray;
}

.btn{
    background-color:gold;
}

.amarelo{
    background-color:gold;
}
.vermelho{
    background-color:red;
}
.verde{
    background-color:green;
}